# PATHS
PROJECT_NAME=pygp-sandbox
BASE=${HOME}/Git/${PROJECT_NAME}

# TEST FOLDER
TEST_FOLDER=${BASE}/tests


# MATPLOTLIB CFG
CONFIG_FOLDER=${BASE}/.config
MATPLOTLIBRC=${CONFIG_FOLDER}/matplotlib/matplotlibrc